<%= provide(:title, @user.name)%>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name%>
</h1>
created at : <%= time_ago_in_words @user.created_at %>
<br>
updated at : <%= @user.updated_at %>
<br>
time now : <%= Time.now %>
