<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
      </h1>
      <h5>
        created at : <%= time_ago_in_words @user.created_at %>
        <br>
        updated at : <%= time_ago_in_words @user.updated_at %>
        <br>
        time now : <%= Time.now %>
      </h5>
    </section>
  </aside>
</div>
